.damtotaltbl {
	border-width: 0px 0px 1px 1px; font-size: 90%; border-collapse: collapse; border-spacing: 0;
}
.damtotaltr {
	background-color: rgb(216, 216, 216);
}
.damtotaltr2009 {
	background-color: rgb(190, 190, 190);
}
.damtotaltd2009 {
	border-width: 1px 1px 0px 0px; margin: 0px; padding: 3px;
}
.damtotaltdleft2009 {
	border-width: 1px 1px 0px 0px; margin: 0px; padding: 3px;
}
.damtotaltd {
	border-width: 1px 1px 0px 0px; margin: 0px; padding: 3px;
}
.damtotaltdleft {
	border-width: 1px 1px 0px 0px; margin: 0px; padding: 3px;
}
.damtotaltbl {
	border-style: solid; border-color: rgb(204, 204, 204); text-align: right;
}
.damtotaltd {
	border-style: solid; border-color: rgb(204, 204, 204); text-align: right;
}
.damtotaltbl {
	border-style: solid; border-color: rgb(204, 204, 204); text-align: left;
}
.damtotaltdleft {
	border-style: solid; border-color: rgb(204, 204, 204); text-align: left;
}
.damtotaltbl {
	border-style: solid; border-color: rgb(204, 204, 204); text-align: right;
}
.damtotaltd2009 {
	border-style: solid; border-color: rgb(204, 204, 204); text-align: right;
}
.damtotaltbl {
	border-style: solid; border-color: rgb(204, 204, 204); text-align: left;
}
.damtotaltdleft2009 {
	border-style: solid; border-color: rgb(204, 204, 204); text-align: left;
}
.damtotaltdcnt {
	color: white; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; background-color: rgb(44, 82, 157);
}
.lbleditdate {
	color: rgb(31, 114, 180); font-size: 12px; font-weight: bold;
}
.lblalignright {
	text-align: right;
}
.waout_tbl {
	color: rgb(0, 51, 153); font-size: 11px; border-collapse: collapse;
}
.waout_tblth {
	text-align: center; color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(0, 51, 153);
}
.waout_tbltd_mark {
	text-align: center; background-color: rgb(0, 51, 153);
}
.waout_tbltd_stnd {
	text-align: center;
}
#bodyDiv {
	margin: 0px;
}
.failtbl {
	width: 100%;
}
.failtblth {
	padding: 5px; height: 25px; text-align: center; color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(56, 172, 219);
}
.failtblth2 {
	height: 25px; color: rgb(20, 65, 160); font-weight: bold; background-color: rgb(210, 235, 246);
}
.failtbltr1 {
	background-color: rgb(239, 248, 252);
}
.failtbltr2 {
	background-color: rgb(224, 243, 250);
}
.failtbltd1 {
	padding: 5px;
}
.failtbltd2 {
	padding: 5px;
}
.failtbltd3 {
	height: 350px; background-image: url("../imgItems/sh02.gif"); background-repeat: no-repeat;
}
.failtblfooter {
	padding: 5px; text-align: right;
}
.waout_tbl {
	color: rgb(44, 82, 157); font-size: 11px; border-collapse: collapse;
}
.waout_tblth {
	text-align: center; color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(44, 82, 157);
}
.waout_tbltd_mark {
	text-align: center; background-color: rgb(216, 216, 216);
}
.waout_tbltd_stnd {
	text-align: center;
}
.tblphotoitem {
	border: 1px solid rgb(199, 221, 242); width: 125px;
}
.tblphotoitemtd1 {
	padding: 2px; height: 100px; text-align: center; vertical-align: top;
}
.tblphotoitemtd2 {
	padding: 1px; height: 20px; text-align: center; color: rgb(10, 97, 168); font-size: 9px;
}
.tblprj {
	border-color: rgb(204, 204, 204); width: 98%; font-size: 11px;
}
.tblprjth {
	color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(24, 106, 175);
}
.tblWreport {
	font-family: Tahoma; font-size: 11px; border-collapse: collapse;
}
tblWreport.td {
	font-size: 9px;
}
.danalysetbl {
	border-width: 0px 0px 1px 1px; border-collapse: collapse; border-spacing: 0;
}
.danalystd {
	border-width: 1px 1px 0px 0px; margin: 0px; padding: 4px;
}
.danalyseth {
	text-align: center; color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(44, 83, 157);
}
.danalysetbl {
	border-style: solid; border-color: rgb(204, 204, 204); background-color: rgb(216, 216, 216);
}
.danalystd {
	border-style: solid; border-color: rgb(204, 204, 204); background-color: rgb(216, 216, 216);
}
.danalysetbl {
	border: 1px solid currentColor;
}
.danalyseth {
	border: 1px solid currentColor;
}
.danalysetr {
	text-align: center; color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(44, 83, 157);
}
.gwth1 {
	height: 23px; color: rgb(255, 255, 255); background-color: rgb(80, 124, 209);
}
.gwitemcenter {
	text-align: center;
}
.gwbnrright {
	border: 0px solid rgb(255, 255, 255);
}
.gwbnrright {
	border: 0px solid rgb(255, 255, 255);
}
.gwverifc {
	text-align: center;
}
.gwadjhd {
	height: 23px; color: rgb(255, 255, 255); background-color: rgb(44, 82, 157);
}
.gwleftmenu {
	border-right-color: rgb(207, 216, 223); border-bottom-color: rgb(207, 216, 223); border-left-color: rgb(207, 216, 223); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;
}
.gwdam {
	border: 1px solid rgb(207, 216, 223);
}
.gwdamth {
	height: 23px; color: rgb(255, 255, 255); background-color: rgb(44, 82, 157);
}
.gwdamitemheigt {
	height: 25px;
}
.gwpayinfoth {
	height: 29px; color: rgb(255, 255, 255); background-color: rgb(20, 65, 160);
}
.gwpayinfoitem {
	height: 23px; text-align: center; color: rgb(20, 65, 160); border-left-color: rgb(204, 0, 0); border-left-width: 2px; border-left-style: solid; background-color: rgb(253, 254, 254);
}
.gwheaderinvc {
	color: rgb(255, 255, 255); background-color: rgb(20, 65, 160);
}
.gwgncommdec {
	width: 99%;
}
.gwnewssearch {
	border: 0px currentColor; width: 99%; font-size: 11px;
}
.gwprojects {
	border: 0px currentColor; width: 99%; font-size: 11px;
}
.gwiregulerouot {
	margin: 0px;
}
.gwWthPrdMothly {
	width: 100%; font-size: 9px;
}
.gwWthPrdMothlyHeaderCell {
	border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid;
}
.gwGeneral {
	width: 100%; font-size: 11px;
}
.gwwidth1 {
	width: 25%;
}
.gwwidth2 {
	width: 50%;
}
.gwwidth3 {
	width: 75%;
}
.gridFormatGray {
	height: 20px; background-color: rgb(216, 216, 216);
}
.gridFormatWhite {
	height: 20px;
}
.Content {
	overflow-x: auto; overflow-y: hidden;
}
.Content a:link {
	color: rgb(153, 153, 153); text-decoration: none;
}
.Content a:visited {
	color: rgb(153, 153, 153); text-decoration: none;
}
.Content a:hover {
	color: rgb(102, 102, 102); text-decoration: none;
}
.Content a:active {
	color: rgb(102, 102, 102); text-decoration: none;
}
.Titlemenu {
	color: rgb(18, 98, 168); font-family: Tahoma; font-size: 10pt; font-weight: bold;
}
.pg1headerth {
	height: 45px; color: rgb(18, 98, 168); padding-left: 10px; font-size: 15px; font-weight: bold; border-left-color: rgb(255, 102, 0); border-left-width: 2px; border-left-style: solid;
}
.pg1contenttd {
	padding-top: 10px; padding-right: 10px;
}
.newsarclisttd {
	color: rgb(12, 103, 174); padding-left: 10px; border-left-color: rgb(22, 113, 184); border-left-width: 2px; border-left-style: solid;
}
.gwnewssrcpager {
	text-align: right;
}
.gwnewssrcpager td {
	width: 20px;
}
.gwnewssrcpager a {
	color: rgb(24, 106, 175); text-decoration: underline;
}
.gwnewssrcpager span {
	color: rgb(255, 102, 0); font-size: 15px;
}
.LeftMenuSelected {
	padding-left: 10px; font-weight: 400;
}
.ppvrodetbl {
	width: 100%;
}
.ppvrodetblth {
	padding: 5px; height: 20px; text-align: center; color: rgb(255, 255, 255); font-family: Tahoma; font-size: 13px; font-weight: bold; background-color: rgb(56, 172, 219);
}
.ppvrodetbltr1 {
	text-align: center; background-color: rgb(239, 248, 252);
}
.ppvrodetbltr2 {
	text-align: center; color: rgb(9, 98, 169); font-family: Tahoma; font-size: 11px; font-weight: bold; background-color: rgb(224, 243, 250);
}
td.ppvrtbltd1 {
	padding: 5px; width: 35%; color: rgb(20, 65, 160);
}
td.ppvrtbltd2 {
	padding: 5px; color: rgb(20, 65, 160);
}
.ppvrtbltd3 {
	height: 350px; background-image: url("../imgItems/sh02.gif"); background-repeat: no-repeat;
}
.ppvrtblfooter {
	padding: 5px; text-align: right;
}
.paymentBodyTable {
	width: 100%;
}
.dct {
	border-right-color: rgb(191, 231, 244); border-bottom-color: rgb(191, 231, 244); border-left-color: rgb(191, 231, 244); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;
}
#NewsFrame {
	border: 1px solid rgb(234, 235, 237); width: 656px; height: 119px; margin-bottom: 4px;
}
#NewsFrame .Header {
	margin: 11px 0px 0px 23px; width: 549px; height: 18px; color: rgb(97, 104, 114); font-weight: bold;
}
#NewsFrame .ImageBack {
	background: url("images/newsFrame.gif") no-repeat; margin: 0px 22px 0px 19px; width: 116px; height: 80px;
}
#divAngel html {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel body {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel div {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel span {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel applet {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel object {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel iframe {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel h1 {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel h2 {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel h3 {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel h4 {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel h5#divAngel {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel h6 {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel p {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel blockquote {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel pre {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel a {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel abbr {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel acronym {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel address {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel big {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel cite {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel code {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel del {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel dfn {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel em {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel font {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel img {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel ins {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel kbd {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel q {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel s {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel samp {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel small {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel strike {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel sub {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel sup {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel tt {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel var {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel dl {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel dt {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel dd {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel ol {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel ul {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel li {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel fieldset {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel form {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel label {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel legend {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel table {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel table tr {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel table td {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel caption {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel tbody {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel tfoot {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel thead {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
#divAngel strong {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; color: rgb(0, 0, 0) !important; font-family: inherit !important; font-size: 100% !important; font-style: inherit !important; vertical-align: baseline !important; position: relative !important; background-image: none !important;
}
.ContactHeader {
	color: rgb(255, 255, 255); padding-left: 5px; font-weight: 600; vertical-align: middle; background-color: rgb(44, 82, 157);
}
.ContactHeaderGray {
	background-color: rgb(216, 216, 216);
}
.lblpayerror {
	color: rgb(213, 0, 0);
}
#SuKesintileri {
	margin: 0px auto; text-align: center; font-size: 13px;
}
#SuKesintileri a:link {
	color: rgb(63, 76, 108); font-size: 13px; text-decoration: none;
}
#SuKesintileri a:visited {
	color: rgb(63, 76, 108); font-size: 13px; text-decoration: none;
}
#SuKesintileri a:hover {
	color: rgb(58, 142, 238); font-size: 13px; text-decoration: none;
}
#SuKesintileri a:active {
	color: rgb(58, 142, 238); font-size: 13px; text-decoration: none;
}
#SuKesintileri li {
	margin-left: 13px;
}
